.pkg h3 {
	padding-left: 20px;
	font: normal 13px Calibri;
	text-transform: uppercase;
	font-weight: 700;
	height: 25px;
	cursor: pointer;
	background: transparent no-repeat 0px 0px;
	margin-left: 2px;
	color: white;
	font-weight: bold;
}

h3.collapser-expanded {
	font-style: italic;
	background-image: url(minus.gif);
	background-position: left top;
}

h3.collapser-collapsed {
	font-weight: bold;
	background-image: url(plus.gif);
	background-position: left top;
}

.pkg-body {
	margin-left: 12px;
	font: normal 13px Calibri;
}

#classes a {
	font: normal 13px Calibri;
	text-transform: uppercase;
	font-weight: 700;
	display: block;
	font-weight: bold;
	text-decoration: none;
	height: 25px;
	color: white;
	background: transparent no-repeat 0px 0px;
	padding-left: 9px;
	margin-left: 2px;
}

#classes a:hover {
	background: #3CB7CC no-repeat;
}

#classes a.ex {
	background: #fff url(example.gif) no-repeat 16px -1px;
}