<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Business Intelligence 2.0</title>
  <link rel="stylesheet" href="#surl("value=/css/styles.css")"/>
  <link rel="stylesheet" href="#surl("value=/css/wsk%20styles/main.css")"/>
  <link rel="stylesheet" href="#surl("value=/css/home.css")"/>
	<link rel="stylesheet" type="text/css" href="#surl("value=/css/wheelmenu.css")" />
	<script type="text/javascript" src="#surl("value=/js/jquery-2.1.3.min.js")"></script>
 	<script type="text/javascript" src="#surl("value=/js/jquery.wheelmenu.js")"></script>
        <script>
            $('document').ready(function(){
                $(".wheel-button").wheelmenu({
                    trigger: "hover",
                    animation: "fly",
                    animationSpeed: "fast"
                });
                });
        </script>
</head>
<body>
    <header class="app-bar promote-layer">
        <div class="app-bar-container">
			<h4 class="logo"><strong>
				<script src="#surl("value=/js/jquery.marquee.js")"></script>
				<script>
				$('marquee').marquee(optionalClass);
				</script>

				<marquee behavior="scroll" scrollamount="7" direction="left" width="800px" style='float: left; position: relative; top: 10px; font-style:italic;font-size:18px; 
				font-family:Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; color: #F0F0F0;'  onmouseover="stop()" onmouseout="start()">
				As Of 19 June &nbsp; &nbsp; &nbsp; Daily MTD Avg Revenue 55.09 Bn (0.49% vs LM, 0.05% vs Target) &nbsp; &nbsp; &nbsp; Daily MTD Avg Reload 51.55 Bn (3.55% vs LM, -15.03% vs Target) 
 &nbsp; &nbsp; &nbsp; Subscriber 65.29 Mn (0.75% vs LM, -2.35% vs Target)  &nbsp; &nbsp; &nbsp; SGE 27.40 Mn (2.21% vs LM) &nbsp; &nbsp;
				</marquee>
				<img src='../images/logo/logo_bi.png'  style='float: left; position: relative'/>
			</strong></h4>
		</div>
	</header>

<div id='cssmenu' class='align-right'>
	<ul>
		<li class='first'><a href='user/logout.action'><span>Sign Out</span></a></li>
	</ul>
</div>
<p><p><p>
<p><p><p>
<p><p><p>
<p><p><p>

<div class="wrapper">
<table width="70%" align="center">
	<tr>
		<td width="25%" valign="top"><div class="main">
	<a #if($!A.parent=="false")href="#" onclick="location.href='yuitree.action?urlAction=../module/$!A.moduleDescriptor.name/$!A.moduleDescriptor.actionName$!actionText'" #else href="#wheel1" #end class="wheel-button" style="background: transparent url($!A.icon) no-repeat -2px -2px; background-size: 61px">
	</a>
	<div class="pointer">$!A.name</div>
</div></td>
		<td width="25%" valign="top"><div class="main">
	<a #if($!B.parent=="false")href="#" onclick="location.href='yuitree.action?urlAction=../module/$!B.moduleDescriptor.name/$!B.moduleDescriptor.actionName$!actionText'" #else href="#wheel2" #end class="wheel-button" style="background: transparent url($!B.icon) no-repeat -2px -2px; background-size: 61px">
	</a>
	<div class="pointer">$!B.name</div><br/>
</div></td>
		<td width="25%" valign="top"><div class="main">
	<a #if($!C.parent=="false")href="#" onclick="location.href='yuitree.action?urlAction=../module/$!C.moduleDescriptor.name/$!C.moduleDescriptor.actionName$!actionText'" #else href="#wheel3" #end class="wheel-button" style="background: transparent url($!C.icon) no-repeat -2px -2px; background-size: 61px">
	</a>
	<div class="pointer">$!C.name</div>
</div></td>
		<td width="25%" valign="top"><div class="main">
	<a #if($!D.parent=="false")href="#" onclick="location.href='yuitree.action?urlAction=../module/$!D.moduleDescriptor.name/$!D.moduleDescriptor.actionName$!actionText'" #else href="#wheel4" #end class="wheel-button" style="background: transparent url($!D.icon) no-repeat -2px -2px; background-size: 61px">
	</a>
	<div class="pointer">$!D.name</div>
	
</div></td>
	</tr>
	<tr>
		<td valign="top"><div class="main">
	<a #if($!E.parent=="false")href="#" onclick="location.href='yuitree.action?urlAction=../module/$!E.moduleDescriptor.name/$!E.moduleDescriptor.actionName$!actionText'" #else href="#wheel5" #end class="wheel-button" style="background: transparent url($!E.icon) no-repeat -2px -2px; background-size: 61px">
	</a>
	<div class="pointer">$!E.name</div>
	
</div></td>
		<td valign="top"><div class="main">
	<a #if($!F.parent=="false")href="#" onclick="location.href='yuitree.action?urlAction=../module/$!F.moduleDescriptor.name/$!F.moduleDescriptor.actionName$!actionText'" #else href="#wheel6" #end class="wheel-button" style="background: transparent url($!F.icon) no-repeat -2px -2px; background-size: 61px">
	</a>
	<div class="pointer">$!F.name</div>
	
</div></td>
		<td valign="top"><div class="main">
	<a #if($!G.parent=="false")href="#" onclick="location.href='yuitree.action?urlAction=../module/$!G.moduleDescriptor.name/$!G.moduleDescriptor.actionName$!actionText'" #else href="#wheel7" #end" class="wheel-button" style="background: transparent url($!G.icon) no-repeat -2px -2px; background-size: 61px">
	</a>
	<div class="pointer">$!G.name</div>
</div></td>
		<td valign="top"><div class="main">
	<a #if($!H.parent=="false")href="#" onclick="location.href='yuitree.action?urlAction=../module/$!H.moduleDescriptor.name/$!H.moduleDescriptor.actionName$!actionText'" #else href="#wheel8" #end class="wheel-button" style="background: transparent url($!H.icon) no-repeat -2px -2px; background-size: 61px">
	</a>
	<div class="pointer">$!H.name</div>
</div></td>
	</tr>
	<tr>
		<td valign="top"><div class="main">
	<a #if($!I.parent=="false")href="#" onclick="location.href='yuitree.action?urlAction=../module/$!I.moduleDescriptor.name/$!I.moduleDescriptor.actionName$!actionText'" #else href="#wheel9" #end class="wheel-button" style="background: transparent url($!I.icon) no-repeat -2px -2px; background-size: 61px">
	</a>
	<div class="pointer">$!I.name</div>
</div></td>
		<td valign="top"><div class="main">
	<a #if($!J.parent=="false")href="#" onclick="location.href='yuitree.action?urlAction=../module/$!J.moduleDescriptor.name/$!J.moduleDescriptor.actionName$!actionText'" #else href="#wheel10" #end class="wheel-button" style="background: transparent url($!J.icon) no-repeat -2px -2px; background-size: 61px">
	</a>
	<div class="pointer">$!J.name</div>
</div></td>
		<td valign="top"><div class="main">
	<a #if($!K.parent=="false")href="#" onclick="location.href='yuitree.action?urlAction=../module/$!K.moduleDescriptor.name/$!K.moduleDescriptor.actionName$!actionText'" #else href="#wheel11" #end class="wheel-button" style="background: transparent url($!K.icon) no-repeat -2px -2px; background-size: 61px">
	</a>
	<div class="pointer">$!K.name</div>
</div></td>
		<td valign="top"><div class="main">
	<a #if($!L.parent=="false")href="#" onclick="location.href='yuitree.action?urlAction=../module/$!L.moduleDescriptor.name/$!L.moduleDescriptor.actionName$!actionText'" #else href="#wheel12" #end class="wheel-button" style="background: transparent url($!L.icon) no-repeat -2px -2px; background-size: 61px">
	</a>
	<div class="pointer">$!L.name</div>
</div></td>
	</tr>
</table>

#if(!$!A.moduleDescriptor.id)
<ul id="wheel1"  data-angle="all">
	<li class="item"><a href=#if($!A_0.parent=="false")"yuitree.action?urlAction=../module/$!A_0.moduleDescriptor.name/$!A_0.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!A_0.id)$!A_0.icon #end) no-repeat; background-size: 39px"></a>#if($!A_0.id)$!A_0.name #end</li>
	<li class="item"><a href=#if($!A_1.parent=="false")"yuitree.action?urlAction=../module/$!A_1.moduleDescriptor.name/$!A_1.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!A_1.id)$!A_1.icon #end) no-repeat; background-size: 39px"></a>#if($!A_1.id)$!A_1.name #end</li>
	<li class="item"><a href=#if($!A_2.parent=="false")"yuitree.action?urlAction=../module/$!A_2.moduleDescriptor.name/$!A_2.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!A_2.id)$!A_2.icon #end) no-repeat; background-size: 39px"></a>#if($!A_2.id)$!A_2.name #end</li>
	<li class="item"><a href=#if($!A_3.parent=="false")"yuitree.action?urlAction=../module/$!A_3.moduleDescriptor.name/$!A_3.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!A_3.id)$!A_3.icon #end) no-repeat; background-size: 39px"></a>#if($!A_3.id)$!A_3.name #end</li>
	<li class="item"><a href=#if($!A_4.parent=="false")"yuitree.action?urlAction=../module/$!A_4.moduleDescriptor.name/$!A_4.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!A_4.id)$!A_4.icon #end) no-repeat; background-size: 39px"></a>#if($!A_4.id)$!A_4.name #end</li>
	<li class="item"><a href=#if($!A_5.parent=="false")"yuitree.action?urlAction=../module/$!A_5.moduleDescriptor.name/$!A_5.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!A_5.id)$!A_5.icon #end) no-repeat; background-size: 39px"></a>#if($!A_4.id)$!A_5.name #end</li>
	<li class="item"><a href=#if($!A_6.parent=="false")"yuitree.action?urlAction=../module/$!A_6.moduleDescriptor.name/$!A_6.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!A_6.id)$!A_6.icon #end) no-repeat; background-size: 39px"></a>#if($!A_6.id)$!A_6.name #end</li>
	<li class="item"><a href=#if($!A_7.parent=="false")"yuitree.action?urlAction=../module/$!A_7.moduleDescriptor.name/$!A_7.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!A_7.id)$!A_7.icon #end) no-repeat; background-size: 39px"></a>#if($!A_7.id)$!A_7.name #end</li>
	<li class="item"><a href=#if($!A_8.parent=="false")"yuitree.action?urlAction=../module/$!A_8.moduleDescriptor.name/$!A_8.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!A_8.id)$!A_8.icon #end) no-repeat; background-size: 39px"></a>#if($!A_8.id)$!A_8.name #end</li>
	<li class="item"><a href=#if($!A_9.parent=="false")"yuitree.action?urlAction=../module/$!A_9.moduleDescriptor.name/$!A_9.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!A_9.id)$!A_9.icon #end) no-repeat; background-size: 39px"></a>#if($!A_9.id)$!A_9.name #end</li>
</ul> #end
#if(!$!B.moduleDescriptor.id)
<ul id="wheel2"  data-angle="all">
	<li class="item"><a href=#if($!B_0.parent=="false")"yuitree.action?urlAction=../module/$!B_0.moduleDescriptor.name/$!B_0.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!B_0.id)$!B_0.icon #end) no-repeat; background-size: 39px"></a>#if($!B_0.id)$!B_0.name #end</li>
	<li class="item"><a href=#if($!B_1.parent=="false")"yuitree.action?urlAction=../module/$!B_1.moduleDescriptor.name/$!B_1.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!B_1.id)$!B_1.icon #end) no-repeat; background-size: 39px"></a>#if($!B_1.id)$!B_1.name #end</li>
	<li class="item"><a href=#if($!B_2.parent=="false")"yuitree.action?urlAction=../module/$!B_2.moduleDescriptor.name/$!B_2.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!B_2.id)$!B_2.icon #end) no-repeat; background-size: 39px"></a>#if($!B_2.id)$!B_2.name #end</li>
	<li class="item"><a href=#if($!B_3.parent=="false")"yuitree.action?urlAction=../module/$!B_3.moduleDescriptor.name/$!B_3.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!B_3.id)$!B_3.icon #end) no-repeat; background-size: 39px"></a>#if($!B_3.id)$!B_3.name #end</li>
	<li class="item"><a href=#if($!B_4.parent=="false")"yuitree.action?urlAction=../module/$!B_4.moduleDescriptor.name/$!B_4.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!B_4.id)$!B_4.icon #end) no-repeat; background-size: 39px"></a>#if($!B_4.id)$!B_4.name #end</li>
	<li class="item"><a href=#if($!B_5.parent=="false")"yuitree.action?urlAction=../module/$!B_5.moduleDescriptor.name/$!B_5.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!B_5.id)$!B_5.icon #end) no-repeat; background-size: 39px"></a>#if($!B_4.id)$!B_5.name #end</li>
	<li class="item"><a href=#if($!B_6.parent=="false")"yuitree.action?urlAction=../module/$!B_6.moduleDescriptor.name/$!B_6.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!B_6.id)$!B_6.icon #end) no-repeat; background-size: 39px"></a>#if($!B_6.id)$!B_6.name #end</li>
	<li class="item"><a href=#if($!B_7.parent=="false")"yuitree.action?urlAction=../module/$!B_7.moduleDescriptor.name/$!B_7.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!B_7.id)$!B_7.icon #end) no-repeat; background-size: 39px"></a>#if($!B_7.id)$!B_7.name #end</li>
	<li class="item"><a href=#if($!B_8.parent=="false")"yuitree.action?urlAction=../module/$!B_8.moduleDescriptor.name/$!B_8.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!B_8.id)$!B_8.icon #end) no-repeat; background-size: 39px"></a>#if($!B_8.id)$!B_8.name #end</li>
	<li class="item"><a href=#if($!B_9.parent=="false")"yuitree.action?urlAction=../module/$!B_9.moduleDescriptor.name/$!B_9.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!B_9.id)$!B_9.icon #end) no-repeat; background-size: 39px"></a>#if($!B_9.id)$!B_9.name #end</li>
</ul> #end

#if(!$!C.moduleDescriptor.id)
<ul id="wheel3"  data-angle="all">
	<li class="item"><a href=#if($!C_0.parent=="false")"yuitree.action?urlAction=../module/$!C_0.moduleDescriptor.name/$!C_0.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!C_0.id)$!C_0.icon #end) no-repeat; background-size: 39px"></a>#if($!C_0.id)$!C_0.name #end</li>
	<li class="item"><a href=#if($!C_1.parent=="false")"yuitree.action?urlAction=../module/$!C_1.moduleDescriptor.name/$!C_1.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!C_1.id)$!C_1.icon #end) no-repeat; background-size: 39px"></a>#if($!C_1.id)$!C_1.name #end</li>
	<li class="item"><a href=#if($!C_2.parent=="false")"yuitree.action?urlAction=../module/$!C_2.moduleDescriptor.name/$!C_2.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!C_2.id)$!C_2.icon #end) no-repeat; background-size: 39px"></a>#if($!C_2.id)$!C_2.name #end</li>
	<li class="item"><a href=#if($!C_3.parent=="false")"yuitree.action?urlAction=../module/$!C_3.moduleDescriptor.name/$!C_3.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!C_3.id)$!C_3.icon #end) no-repeat; background-size: 39px"></a>#if($!C_3.id)$!C_3.name #end</li>
	<li class="item"><a href=#if($!C_4.parent=="false")"yuitree.action?urlAction=../module/$!C_4.moduleDescriptor.name/$!C_4.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!C_4.id)$!C_4.icon #end) no-repeat; background-size: 39px"></a>#if($!C_4.id)$!C_4.name #end</li>
	<li class="item"><a href=#if($!C_5.parent=="false")"yuitree.action?urlAction=../module/$!C_5.moduleDescriptor.name/$!C_5.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!C_5.id)$!C_5.icon #end) no-repeat; background-size: 39px"></a>#if($!C_4.id)$!C_5.name #end</li>
	<li class="item"><a href=#if($!C_6.parent=="false")"yuitree.action?urlAction=../module/$!C_6.moduleDescriptor.name/$!C_6.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!C_6.id)$!C_6.icon #end) no-repeat; background-size: 39px"></a>#if($!C_6.id)$!C_6.name #end</li>
	<li class="item"><a href=#if($!C_7.parent=="false")"yuitree.action?urlAction=../module/$!C_7.moduleDescriptor.name/$!C_7.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!C_7.id)$!C_7.icon #end) no-repeat; background-size: 39px"></a>#if($!C_7.id)$!C_7.name #end</li>
	<li class="item"><a href=#if($!C_8.parent=="false")"yuitree.action?urlAction=../module/$!C_8.moduleDescriptor.name/$!C_8.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!C_8.id)$!C_8.icon #end) no-repeat; background-size: 39px"></a>#if($!C_8.id)$!C_8.name #end</li>
	<li class="item"><a href=#if($!C_9.parent=="false")"yuitree.action?urlAction=../module/$!C_9.moduleDescriptor.name/$!C_9.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!C_9.id)$!C_9.icon #end) no-repeat; background-size: 39px"></a>#if($!C_9.id)$!C_9.name #end</li>
</ul> #end

#if(!$!D.moduleDescriptor.id)
<ul id="wheel4"  data-angle="all">
	<li class="item"><a href=#if($!D_0.parent=="false")"yuitree.action?urlAction=../module/$!D_0.moduleDescriptor.name/$!D_0.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!D_0.id)$!D_0.icon #end) no-repeat; background-size: 39px"></a>#if($!D_0.id)$!D_0.name #end</li>
	<li class="item"><a href=#if($!D_1.parent=="false")"yuitree.action?urlAction=../module/$!D_1.moduleDescriptor.name/$!D_1.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!D_1.id)$!D_1.icon #end) no-repeat; background-size: 39px"></a>#if($!D_1.id)$!D_1.name #end</li>
	<li class="item"><a href=#if($!D_2.parent=="false")"yuitree.action?urlAction=../module/$!D_2.moduleDescriptor.name/$!D_2.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!D_2.id)$!D_2.icon #end) no-repeat; background-size: 39px"></a>#if($!D_2.id)$!D_2.name #end</li>
	<li class="item"><a href=#if($!D_3.parent=="false")"yuitree.action?urlAction=../module/$!D_3.moduleDescriptor.name/$!D_3.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!D_3.id)$!D_3.icon #end) no-repeat; background-size: 39px"></a>#if($!D_3.id)$!D_3.name #end</li>
	<li class="item"><a href=#if($!D_4.parent=="false")"yuitree.action?urlAction=../module/$!D_4.moduleDescriptor.name/$!D_4.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!D_4.id)$!D_4.icon #end) no-repeat; background-size: 39px"></a>#if($!D_4.id)$!D_4.name #end</li>
	<li class="item"><a href=#if($!D_5.parent=="false")"yuitree.action?urlAction=../module/$!D_5.moduleDescriptor.name/$!D_5.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!D_5.id)$!D_5.icon #end) no-repeat; background-size: 39px"></a>#if($!D_4.id)$!D_5.name #end</li>
	<li class="item"><a href=#if($!D_6.parent=="false")"yuitree.action?urlAction=../module/$!D_6.moduleDescriptor.name/$!D_6.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!D_6.id)$!D_6.icon #end) no-repeat; background-size: 39px"></a>#if($!D_6.id)$!D_6.name #end</li>
	<li class="item"><a href=#if($!D_7.parent=="false")"yuitree.action?urlAction=../module/$!D_7.moduleDescriptor.name/$!D_7.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!D_7.id)$!D_7.icon #end) no-repeat; background-size: 39px"></a>#if($!D_7.id)$!D_7.name #end</li>
	<li class="item"><a href=#if($!D_8.parent=="false")"yuitree.action?urlAction=../module/$!D_8.moduleDescriptor.name/$!D_8.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!D_8.id)$!D_8.icon #end) no-repeat; background-size: 39px"></a>#if($!D_8.id)$!D_8.name #end</li>
	<li class="item"><a href=#if($!D_9.parent=="false")"yuitree.action?urlAction=../module/$!D_9.moduleDescriptor.name/$!D_9.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!D_9.id)$!D_9.icon #end) no-repeat; background-size: 39px"></a>#if($!D_9.id)$!D_9.name #end</li>
</ul> #end

#if(!$!E.moduleDescriptor.id)
<ul id="wheel5"  data-angle="all">
	<li class="item"><a href=#if($!E_0.parent=="false")"yuitree.action?urlAction=../module/$!E_0.moduleDescriptor.name/$!E_0.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!E_0.id)$!E_0.icon #end) no-repeat; background-size: 39px"></a>#if($!E_0.id)$!E_0.name #end</li>
	<li class="item"><a href=#if($!E_1.parent=="false")"yuitree.action?urlAction=../module/$!E_1.moduleDescriptor.name/$!E_1.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!E_1.id)$!E_1.icon #end) no-repeat; background-size: 39px"></a>#if($!E_1.id)$!E_1.name #end</li>
	<li class="item"><a href=#if($!E_2.parent=="false")"yuitree.action?urlAction=../module/$!E_2.moduleDescriptor.name/$!E_2.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!E_2.id)$!E_2.icon #end) no-repeat; background-size: 39px"></a>#if($!E_2.id)$!E_2.name #end</li>
	<li class="item"><a href=#if($!E_3.parent=="false")"yuitree.action?urlAction=../module/$!E_3.moduleDescriptor.name/$!E_3.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!E_3.id)$!E_3.icon #end) no-repeat; background-size: 39px"></a>#if($!E_3.id)$!E_3.name #end</li>
	<li class="item"><a href=#if($!E_4.parent=="false")"yuitree.action?urlAction=../module/$!E_4.moduleDescriptor.name/$!E_4.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!E_4.id)$!E_4.icon #end) no-repeat; background-size: 39px"></a>#if($!E_4.id)$!E_4.name #end</li>
	<li class="item"><a href=#if($!E_5.parent=="false")"yuitree.action?urlAction=../module/$!E_5.moduleDescriptor.name/$!E_5.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!E_5.id)$!E_5.icon #end) no-repeat; background-size: 39px"></a>#if($!E_4.id)$!E_5.name #end</li>
	<li class="item"><a href=#if($!E_6.parent=="false")"yuitree.action?urlAction=../module/$!E_6.moduleDescriptor.name/$!E_6.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!E_6.id)$!E_6.icon #end) no-repeat; background-size: 39px"></a>#if($!E_6.id)$!E_6.name #end</li>
	<li class="item"><a href=#if($!E_7.parent=="false")"yuitree.action?urlAction=../module/$!E_7.moduleDescriptor.name/$!E_7.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!E_7.id)$!E_7.icon #end) no-repeat; background-size: 39px"></a>#if($!E_7.id)$!E_7.name #end</li>
	<li class="item"><a href=#if($!E_8.parent=="false")"yuitree.action?urlAction=../module/$!E_8.moduleDescriptor.name/$!E_8.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!E_8.id)$!E_8.icon #end) no-repeat; background-size: 39px"></a>#if($!E_8.id)$!E_8.name #end</li>
	<li class="item"><a href=#if($!E_9.parent=="false")"yuitree.action?urlAction=../module/$!E_9.moduleDescriptor.name/$!E_9.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!E_9.id)$!E_9.icon #end) no-repeat; background-size: 39px"></a>#if($!E_9.id)$!E_9.name #end</li>
</ul> #end

#if(!$!F.moduleDescriptor.id)
<ul id="wheel6"  data-angle="all">
	<li class="item"><a href=#if($!F_0.parent=="false")"yuitree.action?urlAction=../module/$!F_0.moduleDescriptor.name/$!F_0.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!F_0.id)$!F_0.icon #end) no-repeat; background-size: 39px"></a>#if($!F_0.id)$!F_0.name #end</li>
	<li class="item"><a href=#if($!F_1.parent=="false")"yuitree.action?urlAction=../module/$!F_1.moduleDescriptor.name/$!F_1.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!F_1.id)$!F_1.icon #end) no-repeat; background-size: 39px"></a>#if($!F_1.id)$!F_1.name #end</li>
	<li class="item"><a href=#if($!F_2.parent=="false")"yuitree.action?urlAction=../module/$!F_2.moduleDescriptor.name/$!F_2.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!F_2.id)$!F_2.icon #end) no-repeat; background-size: 39px"></a>#if($!F_2.id)$!F_2.name #end</li>
	<li class="item"><a href=#if($!F_3.parent=="false")"yuitree.action?urlAction=../module/$!F_3.moduleDescriptor.name/$!F_3.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!F_3.id)$!F_3.icon #end) no-repeat; background-size: 39px"></a>#if($!F_3.id)$!F_3.name #end</li>
	<li class="item"><a href=#if($!F_4.parent=="false")"yuitree.action?urlAction=../module/$!F_4.moduleDescriptor.name/$!F_4.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!F_4.id)$!F_4.icon #end) no-repeat; background-size: 39px"></a>#if($!F_4.id)$!F_4.name #end</li>
	<li class="item"><a href=#if($!F_5.parent=="false")"yuitree.action?urlAction=../module/$!F_5.moduleDescriptor.name/$!F_5.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!F_5.id)$!F_5.icon #end) no-repeat; background-size: 39px"></a>#if($!F_4.id)$!F_5.name #end</li>
	<li class="item"><a href=#if($!F_6.parent=="false")"yuitree.action?urlAction=../module/$!F_6.moduleDescriptor.name/$!F_6.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!F_6.id)$!F_6.icon #end) no-repeat; background-size: 39px"></a>#if($!F_6.id)$!F_6.name #end</li>
	<li class="item"><a href=#if($!F_7.parent=="false")"yuitree.action?urlAction=../module/$!F_7.moduleDescriptor.name/$!F_7.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!F_7.id)$!F_7.icon #end) no-repeat; background-size: 39px"></a>#if($!F_7.id)$!F_7.name #end</li>
	<li class="item"><a href=#if($!F_8.parent=="false")"yuitree.action?urlAction=../module/$!F_8.moduleDescriptor.name/$!F_8.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!F_8.id)$!F_8.icon #end) no-repeat; background-size: 39px"></a>#if($!F_8.id)$!F_8.name #end</li>
	<li class="item"><a href=#if($!F_9.parent=="false")"yuitree.action?urlAction=../module/$!F_9.moduleDescriptor.name/$!F_9.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!F_9.id)$!F_9.icon #end) no-repeat; background-size: 39px"></a>#if($!F_9.id)$!F_9.name #end</li>
</ul> #end

#if(!$!G.moduleDescriptor.id)
<ul id="wheel7"  data-angle="all">
	<li class="item"><a href=#if($!G_0.parent=="false")"yuitree.action?urlAction=../module/$!G_0.moduleDescriptor.name/$!G_0.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!G_0.id)$!G_0.icon #end) no-repeat; background-size: 39px"></a>#if($!G_0.id)$!G_0.name #end</li>
	<li class="item"><a href=#if($!G_1.parent=="false")"yuitree.action?urlAction=../module/$!G_1.moduleDescriptor.name/$!G_1.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!G_1.id)$!G_1.icon #end) no-repeat; background-size: 39px"></a>#if($!G_1.id)$!G_1.name #end</li>
	<li class="item"><a href=#if($!G_2.parent=="false")"yuitree.action?urlAction=../module/$!G_2.moduleDescriptor.name/$!G_2.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!G_2.id)$!G_2.icon #end) no-repeat; background-size: 39px"></a>#if($!G_2.id)$!G_2.name #end</li>
	<li class="item"><a href=#if($!G_3.parent=="false")"yuitree.action?urlAction=../module/$!G_3.moduleDescriptor.name/$!G_3.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!G_3.id)$!G_3.icon #end) no-repeat; background-size: 39px"></a>#if($!G_3.id)$!G_3.name #end</li>
	<li class="item"><a href=#if($!G_4.parent=="false")"yuitree.action?urlAction=../module/$!G_4.moduleDescriptor.name/$!G_4.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!G_4.id)$!G_4.icon #end) no-repeat; background-size: 39px"></a>#if($!G_4.id)$!G_4.name #end</li>
	<li class="item"><a href=#if($!G_5.parent=="false")"yuitree.action?urlAction=../module/$!G_5.moduleDescriptor.name/$!G_5.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!G_5.id)$!G_5.icon #end) no-repeat; background-size: 39px"></a>#if($!G_4.id)$!G_5.name #end</li>
	<li class="item"><a href=#if($!G_6.parent=="false")"yuitree.action?urlAction=../module/$!G_6.moduleDescriptor.name/$!G_6.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!G_6.id)$!G_6.icon #end) no-repeat; background-size: 39px"></a>#if($!G_6.id)$!G_6.name #end</li>
	<li class="item"><a href=#if($!G_7.parent=="false")"yuitree.action?urlAction=../module/$!G_7.moduleDescriptor.name/$!G_7.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!G_7.id)$!G_7.icon #end) no-repeat; background-size: 39px"></a>#if($!G_7.id)$!G_7.name #end</li>
	<li class="item"><a href=#if($!G_8.parent=="false")"yuitree.action?urlAction=../module/$!G_8.moduleDescriptor.name/$!G_8.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!G_8.id)$!G_8.icon #end) no-repeat; background-size: 39px"></a>#if($!G_8.id)$!G_8.name #end</li>
	<li class="item"><a href=#if($!G_9.parent=="false")"yuitree.action?urlAction=../module/$!G_9.moduleDescriptor.name/$!G_9.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!G_9.id)$!G_9.icon #end) no-repeat; background-size: 39px"></a>#if($!G_9.id)$!G_9.name #end</li>
</ul> #end

#if(!$!H.moduleDescriptor.id)
<ul id="wheel8"  data-angle="all">
	<li class="item"><a href=#if($!H_0.parent=="false")"yuitree.action?urlAction=../module/$!H_0.moduleDescriptor.name/$!H_0.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!H_0.id)$!H_0.icon #end) no-repeat; background-size: 39px"></a>#if($!H_0.id)$!H_0.name #end</li>
	<li class="item"><a href=#if($!H_1.parent=="false")"yuitree.action?urlAction=../module/$!H_1.moduleDescriptor.name/$!H_1.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!H_1.id)$!H_1.icon #end) no-repeat; background-size: 39px"></a>#if($!H_1.id)$!H_1.name #end</li>
	<li class="item"><a href=#if($!H_2.parent=="false")"yuitree.action?urlAction=../module/$!H_2.moduleDescriptor.name/$!H_2.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!H_2.id)$!H_2.icon #end) no-repeat; background-size: 39px"></a>#if($!H_2.id)$!H_2.name #end</li>
	<li class="item"><a href=#if($!H_3.parent=="false")"yuitree.action?urlAction=../module/$!H_3.moduleDescriptor.name/$!H_3.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!H_3.id)$!H_3.icon #end) no-repeat; background-size: 39px"></a>#if($!H_3.id)$!H_3.name #end</li>
	<li class="item"><a href=#if($!H_4.parent=="false")"yuitree.action?urlAction=../module/$!H_4.moduleDescriptor.name/$!H_4.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!H_4.id)$!H_4.icon #end) no-repeat; background-size: 39px"></a>#if($!H_4.id)$!H_4.name #end</li>
	<li class="item"><a href=#if($!H_5.parent=="false")"yuitree.action?urlAction=../module/$!H_5.moduleDescriptor.name/$!H_5.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!H_5.id)$!H_5.icon #end) no-repeat; background-size: 39px"></a>#if($!H_4.id)$!H_5.name #end</li>
	<li class="item"><a href=#if($!H_6.parent=="false")"yuitree.action?urlAction=../module/$!H_6.moduleDescriptor.name/$!H_6.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!H_6.id)$!H_6.icon #end) no-repeat; background-size: 39px"></a>#if($!H_6.id)$!H_6.name #end</li>
	<li class="item"><a href=#if($!H_7.parent=="false")"yuitree.action?urlAction=../module/$!H_7.moduleDescriptor.name/$!H_7.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!H_7.id)$!H_7.icon #end) no-repeat; background-size: 39px"></a>#if($!H_7.id)$!H_7.name #end</li>
	<li class="item"><a href=#if($!H_8.parent=="false")"yuitree.action?urlAction=../module/$!H_8.moduleDescriptor.name/$!H_8.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!H_8.id)$!H_8.icon #end) no-repeat; background-size: 39px"></a>#if($!H_8.id)$!H_8.name #end</li>
	<li class="item"><a href=#if($!H_9.parent=="false")"yuitree.action?urlAction=../module/$!H_9.moduleDescriptor.name/$!H_9.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!H_9.id)$!H_9.icon #end) no-repeat; background-size: 39px"></a>#if($!H_9.id)$!H_9.name #end</li>
</ul> #end

#if(!$!I.moduleDescriptor.id)
<ul id="wheel9"  data-angle="all">
	<li class="item"><a href=#if($!I_0.parent=="false")"yuitree.action?urlAction=../module/$!I_0.moduleDescriptor.name/$!I_0.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!I_0.id)$!I_0.icon #end) no-repeat; background-size: 39px"></a>#if($!I_0.id)$!I_0.name #end</li>
	<li class="item"><a href=#if($!I_1.parent=="false")"yuitree.action?urlAction=../module/$!I_1.moduleDescriptor.name/$!I_1.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!I_1.id)$!I_1.icon #end) no-repeat; background-size: 39px"></a>#if($!I_1.id)$!I_1.name #end</li>
	<li class="item"><a href=#if($!I_2.parent=="false")"yuitree.action?urlAction=../module/$!I_2.moduleDescriptor.name/$!I_2.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!I_2.id)$!I_2.icon #end) no-repeat; background-size: 39px"></a>#if($!I_2.id)$!I_2.name #end</li>
	<li class="item"><a href=#if($!I_3.parent=="false")"yuitree.action?urlAction=../module/$!I_3.moduleDescriptor.name/$!I_3.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!I_3.id)$!I_3.icon #end) no-repeat; background-size: 39px"></a>#if($!I_3.id)$!I_3.name #end</li>
	<li class="item"><a href=#if($!I_4.parent=="false")"yuitree.action?urlAction=../module/$!I_4.moduleDescriptor.name/$!I_4.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!I_4.id)$!I_4.icon #end) no-repeat; background-size: 39px"></a>#if($!I_4.id)$!I_4.name #end</li>
	<li class="item"><a href=#if($!I_5.parent=="false")"yuitree.action?urlAction=../module/$!I_5.moduleDescriptor.name/$!I_5.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!I_5.id)$!I_5.icon #end) no-repeat; background-size: 39px"></a>#if($!I_4.id)$!I_5.name #end</li>
	<li class="item"><a href=#if($!I_6.parent=="false")"yuitree.action?urlAction=../module/$!I_6.moduleDescriptor.name/$!I_6.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!I_6.id)$!I_6.icon #end) no-repeat; background-size: 39px"></a>#if($!I_6.id)$!I_6.name #end</li>
	<li class="item"><a href=#if($!I_7.parent=="false")"yuitree.action?urlAction=../module/$!I_7.moduleDescriptor.name/$!I_7.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!I_7.id)$!I_7.icon #end) no-repeat; background-size: 39px"></a>#if($!I_7.id)$!I_7.name #end</li>
	<li class="item"><a href=#if($!I_8.parent=="false")"yuitree.action?urlAction=../module/$!I_8.moduleDescriptor.name/$!I_8.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!I_8.id)$!I_8.icon #end) no-repeat; background-size: 39px"></a>#if($!I_8.id)$!I_8.name #end</li>
	<li class="item"><a href=#if($!I_9.parent=="false")"yuitree.action?urlAction=../module/$!I_9.moduleDescriptor.name/$!I_9.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!I_9.id)$!I_9.icon #end) no-repeat; background-size: 39px"></a>#if($!I_9.id)$!I_9.name #end</li>
</ul> #end

#if(!$!J.moduleDescriptor.id)
<ul id="wheel10"  data-angle="all">
	<li class="item"><a href=#if($!J_0.parent=="false")"yuitree.action?urlAction=../module/$!J_0.moduleDescriptor.name/$!J_0.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!J_0.id)$!J_0.icon #end) no-repeat; background-size: 39px"></a>#if($!J_0.id)$!J_0.name #end</li>
	<li class="item"><a href=#if($!J_1.parent=="false")"yuitree.action?urlAction=../module/$!J_1.moduleDescriptor.name/$!J_1.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!J_1.id)$!J_1.icon #end) no-repeat; background-size: 39px"></a>#if($!J_1.id)$!J_1.name #end</li>
	<li class="item"><a href=#if($!J_2.parent=="false")"yuitree.action?urlAction=../module/$!J_2.moduleDescriptor.name/$!J_2.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!J_2.id)$!J_2.icon #end) no-repeat; background-size: 39px"></a>#if($!J_2.id)$!J_2.name #end</li>
	<li class="item"><a href=#if($!J_3.parent=="false")"yuitree.action?urlAction=../module/$!J_3.moduleDescriptor.name/$!J_3.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!J_3.id)$!J_3.icon #end) no-repeat; background-size: 39px"></a>#if($!J_3.id)$!J_3.name #end</li>
	<li class="item"><a href=#if($!J_4.parent=="false")"yuitree.action?urlAction=../module/$!J_4.moduleDescriptor.name/$!J_4.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!J_4.id)$!J_4.icon #end) no-repeat; background-size: 39px"></a>#if($!J_4.id)$!J_4.name #end</li>
	<li class="item"><a href=#if($!J_5.parent=="false")"yuitree.action?urlAction=../module/$!J_5.moduleDescriptor.name/$!J_5.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!J_5.id)$!J_5.icon #end) no-repeat; background-size: 39px"></a>#if($!J_4.id)$!J_5.name #end</li>
	<li class="item"><a href=#if($!J_6.parent=="false")"yuitree.action?urlAction=../module/$!J_6.moduleDescriptor.name/$!J_6.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!J_6.id)$!J_6.icon #end) no-repeat; background-size: 39px"></a>#if($!J_6.id)$!J_6.name #end</li>
	<li class="item"><a href=#if($!J_7.parent=="false")"yuitree.action?urlAction=../module/$!J_7.moduleDescriptor.name/$!J_7.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!J_7.id)$!J_7.icon #end) no-repeat; background-size: 39px"></a>#if($!J_7.id)$!J_7.name #end</li>
	<li class="item"><a href=#if($!J_8.parent=="false")"yuitree.action?urlAction=../module/$!J_8.moduleDescriptor.name/$!J_8.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!J_8.id)$!J_8.icon #end) no-repeat; background-size: 39px"></a>#if($!J_8.id)$!J_8.name #end</li>
	<li class="item"><a href=#if($!J_9.parent=="false")"yuitree.action?urlAction=../module/$!J_9.moduleDescriptor.name/$!J_9.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!J_9.id)$!J_9.icon #end) no-repeat; background-size: 39px"></a>#if($!J_9.id)$!J_9.name #end</li>
</ul> #end

#if(!$!K.moduleDescriptor.id)
<ul id="wheel11"  data-angle="all">
	<li class="item"><a href=#if($!K_0.parent=="false")"yuitree.action?urlAction=../module/$!K_0.moduleDescriptor.name/$!K_0.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!K_0.id)$!K_0.icon #end) no-repeat; background-size: 39px"></a>#if($!K_0.id)$!K_0.name #end</li>
	<li class="item"><a href=#if($!K_1.parent=="false")"yuitree.action?urlAction=../module/$!K_1.moduleDescriptor.name/$!K_1.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!K_1.id)$!K_1.icon #end) no-repeat; background-size: 39px"></a>#if($!K_1.id)$!K_1.name #end</li>
	<li class="item"><a href=#if($!K_2.parent=="false")"yuitree.action?urlAction=../module/$!K_2.moduleDescriptor.name/$!K_2.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!K_2.id)$!K_2.icon #end) no-repeat; background-size: 39px"></a>#if($!K_2.id)$!K_2.name #end</li>
	<li class="item"><a href=#if($!K_3.parent=="false")"yuitree.action?urlAction=../module/$!K_3.moduleDescriptor.name/$!K_3.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!K_3.id)$!K_3.icon #end) no-repeat; background-size: 39px"></a>#if($!K_3.id)$!K_3.name #end</li>
	<li class="item"><a href=#if($!K_4.parent=="false")"yuitree.action?urlAction=../module/$!K_4.moduleDescriptor.name/$!K_4.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!K_4.id)$!K_4.icon #end) no-repeat; background-size: 39px"></a>#if($!K_4.id)$!K_4.name #end</li>
	<li class="item"><a href=#if($!K_5.parent=="false")"yuitree.action?urlAction=../module/$!K_5.moduleDescriptor.name/$!K_5.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!K_5.id)$!K_5.icon #end) no-repeat; background-size: 39px"></a>#if($!K_4.id)$!K_5.name #end</li>
	<li class="item"><a href=#if($!K_6.parent=="false")"yuitree.action?urlAction=../module/$!K_6.moduleDescriptor.name/$!K_6.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!K_6.id)$!K_6.icon #end) no-repeat; background-size: 39px"></a>#if($!K_6.id)$!K_6.name #end</li>
	<li class="item"><a href=#if($!K_7.parent=="false")"yuitree.action?urlAction=../module/$!K_7.moduleDescriptor.name/$!K_7.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!K_7.id)$!K_7.icon #end) no-repeat; background-size: 39px"></a>#if($!K_7.id)$!K_7.name #end</li>
	<li class="item"><a href=#if($!K_8.parent=="false")"yuitree.action?urlAction=../module/$!K_8.moduleDescriptor.name/$!K_8.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!K_8.id)$!K_8.icon #end) no-repeat; background-size: 39px"></a>#if($!K_8.id)$!K_8.name #end</li>
	<li class="item"><a href=#if($!K_9.parent=="false")"yuitree.action?urlAction=../module/$!K_9.moduleDescriptor.name/$!K_9.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!K_9.id)$!K_9.icon #end) no-repeat; background-size: 39px"></a>#if($!K_9.id)$!K_9.name #end</li>
</ul> #end

#if(!$!L.moduleDescriptor.id)
<ul id="wheel12"  data-angle="all">
	<li class="item"><a href=#if($!L_0.parent=="false")"yuitree.action?urlAction=../module/$!L_0.moduleDescriptor.name/$!L_0.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!L_0.id)$!L_0.icon #end) no-repeat; background-size: 39px"></a>#if($!L_0.id)$!L_0.name #end</li>
	<li class="item"><a href=#if($!L_1.parent=="false")"yuitree.action?urlAction=../module/$!L_1.moduleDescriptor.name/$!L_1.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!L_1.id)$!L_1.icon #end) no-repeat; background-size: 39px"></a>#if($!L_1.id)$!L_1.name #end</li>
	<li class="item"><a href=#if($!L_2.parent=="false")"yuitree.action?urlAction=../module/$!L_2.moduleDescriptor.name/$!L_2.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!L_2.id)$!L_2.icon #end) no-repeat; background-size: 39px"></a>#if($!L_2.id)$!L_2.name #end</li>
	<li class="item"><a href=#if($!L_3.parent=="false")"yuitree.action?urlAction=../module/$!L_3.moduleDescriptor.name/$!L_3.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!L_3.id)$!L_3.icon #end) no-repeat; background-size: 39px"></a>#if($!L_3.id)$!L_3.name #end</li>
	<li class="item"><a href=#if($!L_4.parent=="false")"yuitree.action?urlAction=../module/$!L_4.moduleDescriptor.name/$!L_4.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!L_4.id)$!L_4.icon #end) no-repeat; background-size: 39px"></a>#if($!L_4.id)$!L_4.name #end</li>
	<li class="item"><a href=#if($!L_5.parent=="false")"yuitree.action?urlAction=../module/$!L_5.moduleDescriptor.name/$!L_5.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!L_5.id)$!L_5.icon #end) no-repeat; background-size: 39px"></a>#if($!L_4.id)$!L_5.name #end</li>
	<li class="item"><a href=#if($!L_6.parent=="false")"yuitree.action?urlAction=../module/$!L_6.moduleDescriptor.name/$!L_6.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!L_6.id)$!L_6.icon #end) no-repeat; background-size: 39px"></a>#if($!L_6.id)$!L_6.name #end</li>
	<li class="item"><a href=#if($!L_7.parent=="false")"yuitree.action?urlAction=../module/$!L_7.moduleDescriptor.name/$!L_7.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!L_7.id)$!L_7.icon #end) no-repeat; background-size: 39px"></a>#if($!L_7.id)$!L_7.name #end</li>
	<li class="item"><a href=#if($!L_8.parent=="false")"yuitree.action?urlAction=../module/$!L_8.moduleDescriptor.name/$!L_8.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!L_8.id)$!L_8.icon #end) no-repeat; background-size: 39px"></a>#if($!L_8.id)$!L_8.name #end</li>
	<li class="item"><a href=#if($!L_9.parent=="false")"yuitree.action?urlAction=../module/$!L_9.moduleDescriptor.name/$!L_9.moduleDescriptor.actionName$!actionText" #else "#" #end style="background: transparent url(#if($!L_9.id)$!L_9.icon #end) no-repeat; background-size: 39px"></a>#if($!L_9.id)$!L_9.name #end</li>
</ul> #end

</div>
</body>