H1,H2,H3,H4,H5,H6 {
	font-family: Calibri
}

P {
	FONT: 10pt Calibri
}

BODY {
	FONT: 10pt Calibri;
	color: #000000;
	font-family: Calibri;
	font-size: 12px;
}

TABLE {
	font-family: Calibri;
	font-size: 12px;
}

A {
	FONT-FAMILY: Calibri;
	FONT-STYLE: normal;
	TEXT-DECORATION: none;
	color: #000000
}

A:link {
	COLOR: #000000;
	CURSOR: hand;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none
}

A:active {
	CURSOR: hand;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none;
	color: #000000;
}

A:visited {
	CURSOR: hand;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none;
	color: #000000;
}

A:hover {
	COLOR: blue;
	CURSOR: hand;
	FONT-STYLE: bold;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: underline
}

TD {
	font-size: 12px;
	COLOR: #000000;
	FONT-FAMILY: Calibri
}

.hd {
	FONT-WEIGHT: bold;
	font-size: 12px;
	COLOR: #003399;
	FONT-FAMILY: Calibri;
	TEXT-DECORATION: underline
}

.hd1 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px;
	COLOR: #003399;
	FONT-FAMILY: Calibri;
}

.hd2 {
	FONT-WEIGHT: bold;
	font-size: 12px;
	TEXT-TRANSFORM: uppercase;
	COLOR: #003399;
	FONT-FAMILY: Calibri;
	TEXT-DECORATION: none
}

.hd3 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 18px;
	TEXT-TRANSFORM: none;
	COLOR: #003399;
	FONT-FAMILY: Calibri;
	TEXT-DECORATION: none
}

.hd4 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	TEXT-TRANSFORM: none;
	COLOR: #003399;
	FONT-FAMILY: Calibri;
	TEXT-DECORATION: none
}

.h4 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	TEXT-TRANSFORM: none;
	COLOR: #003399;
	FONT-FAMILY: Calibri;
	TEXT-DECORATION: none
}

BODY {
	FONT: Calibri;
	FONT-SIZE: 12px;
}

IMG {
	BORDER-LEFT-COLOR: #000000;
	BORDER-BOTTOM-COLOR: #000000;
	BORDER-TOP-COLOR: #000000;
	BORDER-RIGHT-COLOR: #000000
}

SELECT {
	BORDER-BOTTOM-COLOR: gray;
	BORDER-LEFT-COLOR: gray;
	BORDER-RIGHT-COLOR: gray;
	BORDER-TOP-COLOR: gray;
	FONT-FAMILY: Calibri;
	FONT-SIZE: 9pt
}

TEXTAREA {
	background-color: transparent;
	border-bottom-width: 1px;
	border-color: #000000;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	color: #000000;
	font-family: Calibri;
	font-size: 12px;
	font-weight: normal;
	text-indent: 2px;
}

FORM {
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: Calibri
}

INPUT {
	background-color: transparent;
	border-bottom-width: 1px;
	border-color: #000000;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	color: #000000;
	font-family: Calibri;
	font-size: 12px;
	font-weight: normal;
	text-indent: 2px;
}

INPUT.submit {
	background-color: transparent;
	border-bottom-width: 1px;
	border-color: #000000;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	color: #000000;
	font-family: Calibri;
	font-size: 12px;
	font-weight: normal;
	text-indent: 2px;
}

INPUT.button {
	background-color: transparent;
	border-bottom-width: 1px;
	border-color: #000000;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	color: #000000;
	font-family: Calibri;
	font-size: 12px;
	font-weight: normal;
	text-indent: 2px;
}

SELECT {
	border-bottom-width: 1px;
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: Calibri
}

.warning_box{width:540px;clear:both;background:url(images/warning.png) no-repeat left #fcfae9;
border:1px #e9e6c7 solid;background-position:15px 10px;padding:20px 20px 15px 60px;margin:0 0 10px 0;}

.valid_box{width:540px;clear:both;background:url(images/valid.png) no-repeat left #edfce9;
border:1px #cceac4 solid;background-position:15px 10px;padding:20px 20px 15px 60px;margin:0 0 10px 0;}

.error_box{width:540px;clear:both;background:url(images/error.png) no-repeat left #fce9e9;
border:1px #eac7c7 solid;background-position:15px 10px;padding:20px 20px 15px 60px;margin:0 0 10px 0;}