/* Required Stylesheets */
.wheel-button {
	position: relative;
	display: block;
}

.wheel {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 200px; /* this will determine the diameter of the circle */
	height: 200px; /* this will determine the diameter of the circle */
	visibility: hidden;
	position: absolute;
	display: none;
	font-size: 12px;
	z-index: 6;
}

.wheel li {
	overflow: hidden;
	float: left;
}

.wheel li a {
	display: block;
	font-weight: 700;
	color: #ffffff;
}

.sub_image {
	height: 50px;
	width: 50px;
}

.sub_image_label {
	display: none;
	position: fixed;
}

/* ICON KPI */
.sub_image_kpi {
	height: 50px;
	width: 50px;
	/* margin-left: 40px; */
}

#label_kpi {
	margin-left: 15px;
}

/* ICON INTERNET.ORG */
#icon_internet_org {
	margin-left: 40px;
}

#label_internetorg {
	margin-left: 35px;
}

#usg_rev_by_hlr {
	margin-left: 50px;
	margin-top: -23px;
}

#usg_daily_rev_clus_area {
	margin-left: -72px;
	margin-top: 0px;
}

#usg_bts_revenue {
	margin-left: -30px;
}

#cvm_label {
	margin-left: -28px;
	margin-top: -15px;
}

#icon_subsciption_data {
	margin-left: 2px;
	margin-top: 10px;
}

#label_subsciption_data {
	margin-left: -90px;
	margin-top: -30px;
}

/* ICON SUBSCRIPTION VOICE SMS */
#icon_subscrip_voice {
	margin-left: 30px;
	margin-bottom: 13px;
}

#label_subsciption_voice_sms {
	margin-top: -50px;
	margin-left: -43px;
}

#icon_subscrip_tektok {
	margin-left: 30px;
	margin-top: -35px;
}

#label_subscription_tektok {
	margin-left: 35px;
}

#label_data_profile {
	margin-left: 55px;
	margin-top: -40px;
}

#label_data_analytic {
	margin-left: -53px;
	margin-top: -40px;
}

#label_datanomics {
	margin-left: 20px;
	margin-top: -30px;
}

#icon_data_profile {
	margin-right: 10px;
}

#icon_data_analityc {
	margin-right: 10px;
	margin-top: 10px;
}

#icon_datanomics {
	margin-left: 20px;
	margin-bottom: 30px;
}

#subs_pre {
	margin-left: -10px;
}

#sub_churn {
	margin-left: 50px;
	margin-top: -20px;
}

#sub_sgec {
	margin-left: -60px;
	margin-top: -17px;
}

#sub_churn_prediction {
	margin-left: -50px;
}

#sub_vlr {
	margin-left: 45px;
	margin-top: -30px;
}

#label_reg_dash_vlr_sum {
	margin-left: 60px;
	margin-top: -30px;
}

#icon_reg_dash_vlr_sum {
	margin-right: 0px;
}

#icon_reg_dash_vlr_weekly {
	margin-right: 15px;
}

#label_reg_dash_vlr_weekly {
	margin-left: -45px;
	margin-top: -30px;
}

#icon_reg_dash_area_vlr_weekly {
	margin-left: 0px;
}

#label_reg_dash_area_vlr_weekly {
	margin-left: -95px;
	margin-top: -35px
}

#label_post_subs {
	margin-left: 20px;
}

#label_post_gross {
	margin-left: -15px;
}

#icon_handset_profile {
	margin-left: 30px;
}

#label_handset_profile {
	margin-left: 20px;
}

#label_handset_rev_traf {
	margin-left: -15px;
}

#subs_ev {
	margin-left: 55px;
	margin-top: -30px;
}

#sales {
	margin-left: 50px;
	margin-top: -20px;
}

/*
*/

/*#rel_subs{*/
/*margin-left: -60px;*/
/*margin-top: 50px;*/
/*}*/
/*#subs_ev{*/
/*margin-left: -60px;*/
/*margin-top: 50px;*/
/*}*/
/*#vlr{*/
/*margin-left: -35px;*/
/*margin-top: 50px;*/
/*}*/
/*#sales{*/
/*margin-left: -40px;*/
/*margin-top: -20px;*/
/*}*/

/*#rev_hlr {*/
/*margin-left: -40px;*/
/*margin-top: -20px;*/
/*}*/

/*#rev_sa{*/
/*margin-left: -40px;*/
/*margin-top: -20px;*/
/*}*/

/*#traffic {*/
/*margin-left: -40px;*/
/*margin-top: -20px;*/
/*}*/
/*.wheel span{*/
/*position: relative;*/
/*-moz-transition: all 1s ease;*/
/*-webkit-transition: all 1s ease;*/
/*-o-transition: all 1s ease;*/
/*transition: all 1s ease;*/
/*display: block;*/
/*}*/

/*.wheel li a{*/
/*background: rgba(0,0,0,0.65);*/
/*border-radius: 50px;*/
/*font-weight: bold;*/
/*padding: 10px;*/
/*text-align: center;*/
/*width: 50px;*/
/*height: 50px;*/
/*border: 1px solid black;*/
/*box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 1px rgba(255,255,255,0.5);*/
/*-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 1px rgba(255,255,255,0.5);*/
/*-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 1px rgba(255,255,255,0.5);*/
/*color: white;*/
/*-moz-transition: all 0.25s ease;*/
/*-webkit-transition: all 0.25s ease;*/
/*-o-transition: all 0.25s ease;*/
/*transition: all 0.25s ease;*/
/*}*/
/*.wheel li a:hover{*/
/*background: rgba(0,0,0,0.8);*/
/*}*/